<div class="col-md-4 blog-main box text-center" id="post_<%= post.id %>">

    <div class="panel panel-info">

        <div class="panel-heading">
          <h3 class="panel-title"><%= counttertime.sec  %></h3>
        </div>
      </div>
</div>
